<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzhai.project.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.zdzhai.apicommon.model.entity.InterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="requestParams" column="requestParams" jdbcType="VARCHAR"/>
            <result property="requestHeader" column="requestHeader" jdbcType="VARCHAR"/>
            <result property="responseHeader" column="responseHeader" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        url,requestParams,requestHeader,
        responseHeader,status,method,
        userId,createTime,updateTime,
        isDelete
    </sql>

    <select id="getInterfaceList" resultType="com.zdzhai.project.model.vo.EchartsVO">
        SELECT
        COUNT(*) as count ,
        DATE_FORMAT(updateTime,'%Y-%m-%d') as date
        FROM `interface_info`
        WHERE isDelete=0 AND DATE_FORMAT(updateTime, '%Y-%m-%d')
        IN
        <foreach collection="dateList" item="dateList" separator="," open="(" close=")">
            #{dateList}
        </foreach>
        GROUP BY
        DATE_FORMAT(updateTime, '%Y-%m-%d')
        ORDER BY
        DATE_FORMAT(updateTime, '%Y-%m-%d') DESC;
    </select>
</mapper>
