<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzhai.project.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zdzhai.apicommon.model.entity.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="userAvatar" column="userAvatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="userRole" column="userRole" jdbcType="VARCHAR"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="accessKey" column="accessKey" jdbcType="VARCHAR"/>
            <result property="secretKey" column="secretKey" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userName,userAccount,
        userAvatar,gender,userRole,
        userPassword,mobile,accessKey,
        secretKey,createTime,updateTime,
        isDelete
    </sql>

<!--    String selectMobileNum(@Param("mobile") String mobile);-->
    <select id="selectMobileNum" resultType="java.lang.String">
        select mobile from User where mobile = #{mobile} and isDelete = 0
    </select>

    <select id="getUserList" resultType="com.zdzhai.project.model.vo.EchartsVO">
        SELECT
        COUNT(*) as count ,
        DATE_FORMAT(createTime,'%Y-%m-%d') as date
        FROM `user`
        WHERE isDelete=0
        AND DATE_FORMAT(createTime, '%Y-%m-%d') IN
        <foreach collection="dateList" item="dateList" separator="," open="(" close=")">
            #{dateList}
        </foreach>
        GROUP BY
        DATE_FORMAT(createTime, '%Y-%m-%d')
        ORDER BY
        DATE_FORMAT(createTime, '%Y-%m-%d') DESC;
    </select>
</mapper>
