<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdzhai.project.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.zdzhai.apicommon.model.entity.UserInterfaceInfo">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="interfaceInfoId" column="interfaceInfoId" jdbcType="BIGINT"/>
        <result property="totalNum" column="totalNum" jdbcType="BIGINT"/>
        <result property="leftNum" column="leftNum" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
        <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceInfoId,
        totalNum,leftNum,status,
        createTime,updateTime,isDelete
    </sql>
    <update id="updateUserInterfaceInfoLeftNum"
        parameterType="com.zdzhai.project.model.dto.userinterfaceinfo.UserInterfaceInfoUpdateRequest">
        update user_interface_info uii
        set uii.leftNum = uii.leftNum + #{orderNum}
        where uii.isDelete=0 AND uii.status = 0
        AND uii.userId = #{userId} AND uii.interfaceInfoId = #{interfaceInfoId}
    </update>

    <select id="listTopInvokeInterfaceInfo" resultType="com.zdzhai.project.model.vo.UserInterfaceInfoVO">
        select interfaceInfoId, sum(totalNum) as num
        from user_interface_info
        group by interfaceInfoId
        order by num desc
        limit #{limit}
    </select>

    <select id="getUserInterfaceLeftNum" resultType="com.zdzhai.project.model.vo.UserInterfaceLeftNumVO">
        SELECT i.id,i.name,i.description,i.url,i.method,u.leftNum ,c.charging,c.availableCounts FROM interface_info i
        LEFT JOIN user_interface_info u ON i.id = u.interfaceInfoId
        LEFT JOIN interface_charging c ON i.id = c.interfaceid
        WHERE i.isDelete=0 AND i.status = 1 AND u.userId =#{id}
    </select>
</mapper>
